:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
    background-color: black;
    color: white; /* Fallback for older browsers */
    color: rgb(255, 255, 255, 0.88);
    font-family: Georgia, Arial, sans-serif;
}

.upper-body {
    margin: 5vh;
    font-size: 48px;
}

.grid {
    border-width: 10px;
    border-style: solid;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tool-button {
    border-width: thick;
    border-color: white;
    border-color: rgb(255, 255, 255, 0.88);
    border-style: solid;
    border-radius: 20%;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-color:black;
}

.tool-button:active {
    background-color: white;
}


.black {
    background-image: url(icons8-crayon.svg);
}

.white {
    background-image: url(icons8-erase.svg);
}

.grid {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 600px;
    max-width: 600px;
    height: 600px;
    max-height: 600px;
}

#modify-grid {
    margin-top: 8px;
}

#grid-size-text {
    margin-bottom: 8px;
}